<?php
$game = getGameTxtName($gameID);
$game_type = getGameCodeById($gameID);
?>
<link rel="stylesheet" href="plugins/datatables/dataTables.bootstrap.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            游戏即时注单<small><?php echo $game;?></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 控制台</a></li>
            <li><a href="#"> 游戏即时注单</a></li>
            <li class="active"><?php echo $game;?></li>
        </ol>
    </section>
<style>
    .direct-chat .box-body{

    }
    .red{
        background-color: red !important;
        color: #FFFFFF;
    }
    .blue{
        background-color: #0000ff !important;
        color: #FFFFFF;
    }
    .green{
        background-color: #008000 !important;
        color: #FFFFFF;
    }
    </style>
    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box box-success direct-chat direct-chat-success">
                    <div class="box-header with-border" style="display: flex;">
                        <span style="flex: 1">期号：<label id="next_term">000期</label></span>
                        <span style="flex: 1">总金额：<label id="amount">0.00</label></span>
                        <span style="flex: 1">参与人数：<label id="usercount">0</label></span>
                        <span style="flex: 1">距离下期开奖：<label style="" id="time">00</label></span>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" style="overflow-x: scroll !important;height: 550px">
                        <!-- Conversations are loaded here -->
                        <div class="direct-chat-messages" style="height:auto;display: flex;width: 2400px;overflow: scroll;">
                            <!--<table>-->
                                <!---->
                                <!--<tr></tr>-->
                                <!---->
                                <!--</table>-->
                            <?php
                            foreach($wanfa_list as $key=>$wanfa){
                            ?>

                            <?php
                                foreach($wanfa['list'] as $skey=>$wanfa_son){
                            ?>
                            <div class="box box-primary" style="width: 120px;margin-left: 10px;">
                                <div class="box-header with-border" style="text-align: center">
                                    <h1 class="box-title">
                                        <?=$wanfa['name']?>
                                        <br/>
                                        <?=$wanfa_son['name']?>
                                    </h1>
                                </div>

                                <div class="box-body">
                                    <div class="row">
                                        <?php
                                foreach($wanfa_son['son_item'] as $item_key=>$item){
                                        ?>
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <span class="input-group-addon <?=$item['bg_class']?>"><?=$item['name']?></span>
                                                <span style="width: 80px" class="form-control" id="<?=$item['class']?>"></span>
                                            </div>
                                        </div>

                                        <?php
                            }
                            ?>
                                    </div>


                                </div>
                            </div>
                            <?php
                            }
                            ?>
                            <?php
                            }
                            ?>

                        </div>
                        <!--/.direct-chat-messages-->
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- /.content -->
</div>
<style type="text/css">
    .input-group-addon{
        width: 40px;
        box-sizing: border-box;
    }
    .input-group{
        margin-bottom: 10px;
    }
    .form-control{
        text-align: center;
    }
    #tableList_wrapper .row{
        margin: 0 !important;
    }
    #tableList_wrapper .row .col-sm-12{
        padding: 0 !important;
    }
    #tableList_wrapper .row .col-sm-12 .dataTables_scrollBody:last-child{
        overflow: hidden !important;
    }
</style>
<script src="plugins/datatables/jquery.dataTables.min.js"></script>
<script src="plugins/datatables/dataTables.bootstrap.min.js"></script>
<script>
    var id = 0;
    var game = '<?php echo getGameCodeById($gameID); ?>';
    var first = true;
    var time = 0;
    var term = '';
    var next_term = '';
    getgame();
    tablestart();
    function gettouzhu(){
        $.ajax({
            url: 'Application/ajax_gettouzhu.php?g=' + game + '&term=' + next_term,
            type: 'get',
            dataType:'json',
            success: function(data){
                if(data.status){
                    $("#amount").text(data.data.amount);
                    $("#paijian").text(data.data.paijian_amount);
                    $("#yingkui").text(data.data.yingkui);
                    $("#usercount").text(data.data.user_count);
                    $("#detail").find('input').val('');
                    $.each(data.data.list , function (index,value) {
                        if(!isNaN(index) && index < 10){
                            index = '0' + index;
                        }
                        $('#' + index).html(value);
                    });

                }
                setTimeout(function(){
                    gettouzhu();
                } , 2000);
            },
            error: function() { }
        });
    }
    function getgame(){
        $.ajax({
            url: 'Application/ajax_getcode.php?g=' + game,
            type: 'get',
            dataType:'json',
            success: function(data){
                $('#term').text(data.term + '期');
                $('#next_term').text(data.next_term + '期');
                $('#next_time').text(data.next_time);
                $('#opencode').text(data.code);
                next_term = data.next_term;
                term = data.term;
                time = data.time;
                if(first){
                    gettouzhu();
                    gotime();
                    first = false;
                }
            },
            error: function() { }
        });
    }
    function changetime(value) {
        var secondTime = parseInt(value);// 秒
        var minuteTime = 0;// 分
        var hourTime = 0;// 小时
        var dayTime = 0;// 小时
        if(secondTime > 60) {//如果秒数大于60，将秒数转换成整数
            //获取分钟，除以60取整数，得到整数分钟
            minuteTime = parseInt(secondTime / 60);
            //获取秒数，秒数取佘，得到整数秒数
            secondTime = parseInt(secondTime % 60);
            //如果分钟大于60，将分钟转换成小时
            if(minuteTime > 60) {
                //获取小时，获取分钟除以60，得到整数小时
                hourTime = parseInt(minuteTime / 60);
                if(hourTime > 24){
                    dayTime = (hourTime / 24);
                    hourTime = parseInt(hourTime % 24);
                }
                //获取小时后取佘的分，获取分钟除以60取佘的分
                minuteTime = parseInt(minuteTime % 60);
            }
        }
        var time = "" + parseInt(secondTime) + "秒";

        if(minuteTime > 0) {
            time = "" + parseInt(minuteTime) + "分" + time;
        }
        if(hourTime > 0) {
            time = "" + parseInt(hourTime) + "时" + time;
        }
        if(dayTime > 0) {
            time = "" + parseInt(dayTime) + "天" + time;
        }

        return time;
    }

    function gotime(){
        time = time - 1;
        if(time < 0){
            getgame();
            $('#time').text('开奖中...');
            setTimeout(function() {
                gotime();
                tablestart();
            }, 2000);
            return;
        }
        $('#time').text(changetime(time));
        setTimeout(function() {
            gotime();
        }, 1000);
    }
    function tablestart(){
        $('#tableList').DataTable({
            "searching" : false,
            "destroy": true,
            "scrollX": true,
            "lengthChange": false,
            "ajax":{
                "url": "Application/ajax_getonline.php",
                "dataSrc":function(json){
                    if(json.data[0] == 'null'){
                        return json;
                    }
                    // for(var i=0;i<json.data.length; i++){
                    //     json.data[i][2] = "<a href='javascript:ban(\"" + json.data[i][2] + "\")' class='btn btn-danger btn-xs'>禁言玩家</a>";
                    // }
                    return json.data;
                }
            }
        });
    }
    function ban(id){
        $.ajax({
            url:'Application/ajax_banuser.php',
            type: 'post',
            data: {id: id},
            dataType: 'json',
            success: function( data ){
                if(data.success){
                    alert('禁言成功..');
                }else{
                    alert(data.msg);
                }
            },
            error: function() { }
        })
    }
</script>