<link rel="stylesheet" href="plugins/iCheck/all.css">
<div class="content-wrapper">
    <!__ Content Header (Page header) __>
    <section class="content-header">
        <h1>
            香港六合彩
            <small>游戏设置</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 仪表盘</a></li>
            <li><a href="#"> 游戏设置</a></li>
            <li class="active">香港六合彩</li>
        </ol>
    </section>

    <!__ Main content __>
    <section class="content">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <?php foreach($game_arr as $key=>$v){ ?>
                <li class="<?php if($_GET['g'] == $key){ echo 'active';} ?>"><a href="zb9n8rUvp0.php?m=g_setting&g=<?=$key?>" ><?=$v?></a></li>
                <?php }?>
            </ul>
        </div>
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">赔率设置</h3>

                <div class="box-tools pull-right">
                    <button type="button" onclick="$('#form1').submit();" class="btn btn-sm btn-warning">保存</button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body maxpl">
                <div class="row peilv-box">
                    <form id="form1" action="Application/gamesetting/ajax_savelhc.php?form=form9" method="post">
                        <table class="table-advance">
                            <thead>
                            <tr>
                            <th width="60">玩法大类</th>
                                <th width="400" >最大赔率</th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php
                            foreach($wanfa_data as $v){
                            ?>
                            <tr class="t_list_tr_0" id="tr-TMDS" name="DS3-DS4" align="center" height="26">
                                <td nowrap="">
                                    <font class="help-inline">
                                        <?=$v['name']?>
                                    </font>
                                </td>
                                <td align="">
                                    <?php
                                    if(!$v['son_list']){
                                    ?>
                                    <input type="number" style="width: 85px; margin-bottom: 0px;" data-scale="4" name="<?=$v['id']?>__max_peilv" value="<?=$v['max_peilv']?>"
                                           size="6" maxlength="10">
                                    <?php
                                    }
                                    ?>
                                    <?php

                            foreach($v['son_list'] as $sv){
                            if($sv['son_list']){
                            echo "<div class='set-block'><span>".$sv['name'].":</span>";
                             foreach($sv['son_list'] as $ssv){
                            ?>
                                    <span class="help-inline" style="margin-top:0px;"><?=$ssv['name']?></span>
                                    <input type="number" style="width: 65px; margin-bottom: 0px;" data-scale="4" name="<?=$ssv['id']?>__max_peilv" value="<?=$ssv['max_peilv']?>"
                                           onkeypress="digitfOnly(event)" onkeyup="isTrue(this)" size="6" maxlength="10">
                                    <?php
                                    }
                                    echo "</div>";
                            }else{
                                    ?>
                                    <div class='set-block'>
                                    <span class="help-inline" style="margin-top:0px;"><?=$sv['name']?></span>
                                    <input type="text" style="width: 65px; margin-bottom: 0px;" data-scale="4" name="<?=$sv['id']?>__max_peilv" value="<?=$sv['max_peilv']?>"
                                           onkeypress="digitfOnly(event)" onkeyup="isTrue(this)" size="6" maxlength="10">
                                    </div>
                                    <?php
                                    }
                            }
                            ?>
                                </td>


                            </tr>
                            <?php
                            }
                            ?>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>



        </div>

    </section>
    <!__ /.content __>
</div>
<style>
    .pl-input{
        width: 60% !important;
        height: 38px;
    }
    .maxpl .form-control{
        width: 200px !important;
        height: 38px;
        display: inline-block;
    }
    .pl-span{
        line-height: 38px;
        margin-left: 10px;
        color: red;
        float: left;
    }
    .peilv-box .input-group .form-control:last-child{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: 200px;
    }
    .label-max-peilv{
        background-color: #ed4e2a;
        background-image: none !important;
        text-shadow: none !important;
        color: #fff;
    }
    .set-block{
       margin-top: 5px;
        min-height: 30px;
    }
    .table-advance {
        margin-bottom: 0px !important;
        padding: 5px;
        margin: 10px;
    }

    .table-advance thead {
        color: #999;
    }

    .table-advance thead tr th{
        font-size: 14px;
        font-weight: 600;
        color: #5f5f5f;
        background: #eee;
        text-align: center;
    }
    .table-advance tr {
        padding: 10px;
        height: 35px;
    }
    .table-advance td{
        border: solid 1px #eee;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: right;
        padding-right: 10px;
    }
    .table-advance td:first-child{
        text-align: center;
    }

    .table-advance div.success,
    .table-advance div.info,
    .table-advance div.important,
    .table-advance div.warning,
    .table-advance div.danger {
        position: absolute;
        margin-top:-5px;
        float: left;
        width: 2px;
        height: 30px;
        margin-right: 20px !important;
    }

    .table-advance tr td {
        border-left-width: 0px;
    }
    /*six特殊*/
    .table-advance tr td.ratetd {
        border-left-width: 1px;
    }
    .table-advance tr td:first-child {
        border-left-width: 1px !important;
    }

    .table-advance tr td.highlight:first-child a {
        margin-left: 15px;
    }

    .table-advance td.highlight div.success {
        border-left: 2px solid #66ee66;
    }

    .table-advance td.highlight div.info {
        border-left: 2px solid #87ceeb;
    }

    .table-advance td.highlight div.important {
        border-left: 2px solid #f02c71;
    }

    .table-advance td.highlight div.warning {
        border-left: 2px solid #fdbb39;
    }

    .table-advance td.highlight div.danger {
        border-left: 2px solid #e23e29;
    }


</style>
<script src="plugins/iCheck/icheck.min.js"></script>
<script>
    $('input[type="checkbox"].flat-red').iCheck({
        checkboxClass: 'icheckbox_flat-green',
        radioClass: 'iradio_flat-green'
    });
    function digitfOnly(e){

    }
    function isTrue(e){

    }
</script>