<link rel="stylesheet" href="plugins/iCheck/all.css">
<div class="content-wrapper">
    <!__ Content Header (Page header) __>
    <section class="content-header">
        <h1>
            香港六合彩
            <small>游戏设置</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 仪表盘</a></li>
            <li><a href="#"> 游戏设置</a></li>
            <li class="active">香港六合彩</li>
        </ol>
    </section>

    <!__ Main content __>
    <section class="content">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <?php foreach($game_arr as $key=>$v){ ?>
                <li class="<?php if($_GET['g'] == $key){ echo 'active';} ?>"><a href="zb9n8rUvp0.php?m=g_setting&g=<?=$key?>" ><?=$v?></a></li>
                <?php }?>
            </ul>
        </div>
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">赔率设置</h3>

                <div class="box-tools pull-right">
                    <button type="button" onclick="$('#form1').submit();" class="btn btn-sm btn-warning">保存</button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body maxpl">
                <div class="row peilv-box">
                    <form id="form1" action="Application/gamesetting/ajax_savelhc.php?form=form9" method="post">
                        <table class="table-advance">
                            <thead>
                            <tr>
                            <th>玩法大类</th>
                                <th >赔率</th>
                                <th>最大赔率</th>
                            <th>自动降赔率</th>
                            <th>单注最低</th>
                            <th>单注最高</th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php
                            foreach($wanfa_data as $v){
                            ?>
                            <tr class="t_list_tr_0" id="tr-TMDS" name="DS3-DS4" align="center" height="26">
                                <td nowrap="">
                                    <font class="help-inline">
                                        <?=$v['name']?>
                                    </font>
                                </td>
                                <td align="">
                                    <?php
                                    if(!$v['son_list']){
                                    ?>
                                    <input type="number" style="width: 85px; margin-bottom: 0px;" data-scale="4" name="<?=$v['id']?>__peilv" value="<?=$v['peilv']?>"
                                           onkeypress="digitfOnly(event)" onkeyup="isTrue(this)" oninput="if(value><?=$v['max_peilv']?>)value=<?=$v['max_peilv']?>" size="6" maxlength="10">
                                    <?php
                                    }
                                    ?>
                                    <?php

                            foreach($v['son_list'] as $sv){
                            if($sv['son_list']){
                            echo "<div class='set-block'><span>".$sv['name'].":</span>";
                             foreach($sv['son_list'] as $ssv){
                            ?>
                                    <span class="help-inline" style="margin-top:0px;"><?=$ssv['name']?></span>
                                    <input type="number" style="width: 65px; margin-bottom: 0px;" data-scale="4" name="<?=$ssv['id']?>__peilv" value="<?=$ssv['peilv']?>"
                                           onkeypress="digitfOnly(event)" onkeyup="isTrue(this)"  oninput="if(value><?=$ssv['max_peilv']?>)value=<?=$ssv['max_peilv']?>"  size="6" maxlength="10">
                                    <?php
                                    }
                                    echo "</div>";
                            }else{
                                    ?>
                                    <div class='set-block'>
                                    <span class="help-inline" style="margin-top:0px;"><?=$sv['name']?></span>
                                    <input type="text" style="width: 65px; margin-bottom: 0px;" data-scale="4" name="<?=$sv['id']?>__peilv" value="<?=$sv['peilv']?>"
                                           onkeypress="digitfOnly(event)" onkeyup="isTrue(this)"  oninput="if(value><?=$sv['max_peilv']?>)value=<?=$sv['max_peilv']?>" size="6" maxlength="10">
                                    </div>
                                    <?php
                                    }
                            }
                            ?>
                                </td>
                                <td align="">
                                    <?php
                                    if(!$v['son_list']){
                                    ?>
                                    <span style="margin-top:3px" class="label-max-peilv" ><?=$v['max_peilv']?></span><?php
                                    }
                                    ?>
                                    <?php

                            foreach($v['son_list'] as $sv){
                            if($sv['son_list']){
                            echo "<div class='set-block'><span>".$sv['name'].":</span>";
                                    foreach($sv['son_list'] as $ssv){
                                    ?>
                                    <span class="help-inline" style="margin-top:0px;"><?=$ssv['name']?></span>
                                    <span style="margin-top:3px" class="label-max-peilv" ><?=$ssv['max_peilv']?></span>
                                    <?php
                                    }
                                    echo "</div>";
                                    }else{
                                    ?>
                                    <div class='set-block'>
                                        <span class="help-inline" style="margin-top:0px;"><?=$sv['name']?>:</span>
                                        <span style="margin-top:3px" class="label-max-peilv" ><?=$sv['max_peilv']?></span>
                                    </div>
                                    <?php
                                    }
                            }
                            ?>
                                </td>
                                <td align="">
                                    <?php
                                    if(!$v['son_list']){
                                    ?>
                                    <input type="number" style="width: 85px; margin-bottom: 0px;" data-scale="4" name="<?=$v['id']?>__peilv_step" value="<?=$v['peilv_step']?>"
                                           onkeypress="digitfOnly(event)" onkeyup="isTrue(this)"  size="6" step="0.001" maxlength="10">
                                    <?php
                                    }
                                    ?>
                                    <?php

                            foreach($v['son_list'] as $sv){
                            if($sv['son_list']){
                            echo "<div class='set-block'><span>".$sv['name'].":</span>";
                                    foreach($sv['son_list'] as $ssv){
                                    ?>
                                    <span class="help-inline" style="margin-top:0px;"><?=$ssv['name']?></span>
                                    <input type="number" style="width: 65px; margin-bottom: 0px;" data-scale="4" name="<?=$ssv['id']?>__peilv_step" value="<?=$ssv['peilv_step']?>"
                                           onkeypress="digitfOnly(event)" onkeyup="isTrue(this)" size="6"  step="0.001" maxlength="10">
                                    <?php
                                    }
                                    echo "</div>";
                                    }else{
                                    ?>
                                    <div class='set-block'>
                                        <span class="help-inline" style="margin-top:0px;"><?=$sv['name']?></span>
                                        <input type="text" style="width: 65px; margin-bottom: 0px;" data-scale="4"  step="0.001" name="<?=$ssv['id']?>__peilv_step" value="<?=$sv['peilv_step']?>"
                                              size="6" maxlength="10">
                                    </div>
                                    <?php
                                    }
                            }
                            ?>
                                </td>
                                <td align="">
                                    <?php
                                    if(!$v['son_list']){
                                    ?>
                                    <input type="number" style="width: 85px; margin-bottom: 0px;" data-scale="4" name="<?=$v['id']?>__bet_price_min" value="<?=$v['bet_price_min']?>"
                                           onkeypress="digitfOnly(event)" onkeyup="isTrue(this)"  size="6" maxlength="10">
                                    <?php
                                    }
                                    ?>
                                    <?php

                            foreach($v['son_list'] as $sv){
                            if($sv['son_list']){
                            echo "<div  class='set-block'><span>单注最小".$sv['name1'].":</span>";
                                    foreach($sv['son_list'] as $ssv){
                                    ?>
                                    <span class="help-inline" style="margin-top:0px;"><?=$ssv['name']?></span>
                                    <input type="number" style="width: 55px; margin-bottom: 0px;" data-scale="4" name="<?=$ssv['id']?>__bet_price_min" value="<?=$ssv['bet_price_min']?>"
                                           size="6" maxlength="10">
                                    <?php
                                    }
                                    echo "</div>";
                                    }else{
                                    ?>
                                    <div  class='set-block'>
                                        <span class="help-inline" style="margin-top:0px;"><?=$sv['name']?></span>
                                        <input type="text" style="width: 55px; margin-bottom: 0px;" data-scale="4" name="<?=$sv['id']?>__bet_price_min" value="<?=$sv['bet_price_min']?>"
                                               size="6" maxlength="10">
                                    </div>
                                    <?php
                                    }
                            }
                            ?>
                                </td>
                                <td align="">
                                    <?php
                                    if(!$v['son_list']){
                                    ?>
                                    <input type="number" style="width: 85px; margin-bottom: 0px;" data-scale="4" name="<?=$v['id']?>__bet_price_max" value="<?=$v['bet_price_max']?>"
                                           onkeypress="digitfOnly(event)" onkeyup="isTrue(this)"  size="6" maxlength="10">
                                    <?php
                                    }
                                    ?>
                                    <?php

                            foreach($v['son_list'] as $sv){
                            if($sv['son_list']){
                            echo "<div class='set-block'>单注最大<span>".$sv['name1'].":</span>";
                                    foreach($sv['son_list'] as $ssv){
                                    ?>
                                    <span class="help-inline" style="margin-top:0px;"><?=$ssv['name']?></span>
                                    <input type="number" style="width: 55px; margin-bottom: 0px;" data-scale="4" name="<?=$ssv['id']?>__bet_price_max" value="<?=$ssv['bet_price_max']?>"
                                           size="6" maxlength="10">
                                    <?php
                                    }
                                    echo "</div>";
                                    }else{
                                    ?>
                                    <div class="set-block">
                                        <span class="help-inline" style="margin-top:0px;"><?=$sv['name']?></span>
                                        <input type="text" style="width: 55px; margin-bottom: 0px;" data-scale="4" name="<?=$sv['id']?>__bet_price_max" value="<?=$sv['bet_price_max']?>"
                                               size="6" maxlength="10">
                                    </div>
                                    <?php
                                    }
                            }
                            ?>
                                </td>

                            </tr>
                            <?php
                            }
                            ?>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>


            <div class="row">

                <div class="col-md-6">
                    <div class="box box-success">
                        <div class="box-header">
                            <h3 class="box-title">其他设置</h3>

                            <div class="box-tools pull-right">
                                <button type="button" onclick="$('#form3').submit()" class="btn btn-sm btn-success">保存</button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <form id="form3" action="Application/gamesetting/ajax_savelhc.php?form=form3&g=<?php echo $gameID;?>" method="post">
                                <div class="form-group">
                                    <label>
                                        <input name="opengame" type="checkbox" class="flat-red" <?php if(get_query_val('fn_lottery9','gameopen',array('roomid'=>$_SESSION['agent_room'])) == 'true') echo 'checked'; ?>>
                                        开启游戏
                                    </label>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">投注开始时间点（24小时制）</span>
                                    <input name="begin_bet_hours"   oninput="if(value>21)value=21" value="<?php echo $hours ?>" />时（0-21）
                                    <input name="begin_bet_min"   oninput="if(value>59)value=59"  value="<?php echo $mins ?>" />分（0-59）
                                    <input name="begin_bet_sec"   oninput="if(value>59)value=59"  value="<?php echo $sec ?>" />秒（0-59）

                                </div>
                                <br/>
                                <div class="input-group">
                                    <span class="input-group-addon">封盘时间（24小时制）</span>
                                   <input name="begin_fengpan_hours"   oninput="if(value>21)value=21" value="<?php echo $fengpan_hours ?>" />时（0-21）
                                    <input name="begin_fengpan_min"   oninput="if(value>59)value=59"  value="<?php echo $fengpan_mins ?>" />分（0-59）
                                    <input name="begin_fengpan_sec"   oninput="if(value>59)value=59"  value="<?php echo $fengpan_sec ?>" />秒（0-59）

                                </div>
                                <br/>

                                <br/>
                            </form>
                        </div>
                    </div>
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">彩种规则设置</h3>

                            <div class="box-tools pull-right">
                                <button type="button" onclick="$('#form4').submit();" class="btn btn-sm btn-success">保存</button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                            <!__ /.box-tools __>
                        </div>
                        <!__ /.box-header __>
                        <div class="box-body">
                            <form id="form4" action="Application/gamesetting/ajax_savelhc.php?form=form4&g=<?php echo $gameID;?>" method="post">
                                <textarea name="customcont" class="textarea" placeholder="设置彩种规则" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"><?php echo get_query_val('fn_lottery9','rules',array('roomid'=>$_SESSION['agent_room'])); ?></textarea>
                            </form>
                        </div>
                        <div class="box-footer">
                            <center><b>如要使用默认样式 请直接修改要修改的文字即可</b></center>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </section>
    <!__ /.content __>
</div>
<style>
    .pl-input{
        width: 60% !important;
        height: 38px;
    }
    .maxpl .form-control{
        width: 200px !important;
        height: 38px;
        display: inline-block;
    }
    .pl-span{
        line-height: 38px;
        margin-left: 10px;
        color: red;
        float: left;
    }
    .peilv-box .input-group .form-control:last-child{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: 200px;
    }
    .label-max-peilv{
        background-color: #ed4e2a;
        background-image: none !important;
        text-shadow: none !important;
        color: #fff;
    }
    .set-block{
       margin-top: 5px;
        min-height: 30px;
    }
    .table-advance {
        margin-bottom: 0px !important;
        padding: 5px;
        margin: 10px;
    }

    .table-advance thead {
        color: #999;
    }

    .table-advance thead tr th{
        font-size: 14px;
        font-weight: 600;
        color: #5f5f5f;
        background: #eee;
        text-align: center;
    }
    .table-advance tr {
        padding: 10px;
        height: 35px;
    }
    .table-advance td{
        border: solid 1px #eee;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: right;
        padding-right: 10px;
    }
    .table-advance td:first-child{
        text-align: center;
    }

    .table-advance div.success,
    .table-advance div.info,
    .table-advance div.important,
    .table-advance div.warning,
    .table-advance div.danger {
        position: absolute;
        margin-top:-5px;
        float: left;
        width: 2px;
        height: 30px;
        margin-right: 20px !important;
    }

    .table-advance tr td {
        border-left-width: 0px;
    }
    /*six特殊*/
    .table-advance tr td.ratetd {
        border-left-width: 1px;
    }
    .table-advance tr td:first-child {
        border-left-width: 1px !important;
    }

    .table-advance tr td.highlight:first-child a {
        margin-left: 15px;
    }

    .table-advance td.highlight div.success {
        border-left: 2px solid #66ee66;
    }

    .table-advance td.highlight div.info {
        border-left: 2px solid #87ceeb;
    }

    .table-advance td.highlight div.important {
        border-left: 2px solid #f02c71;
    }

    .table-advance td.highlight div.warning {
        border-left: 2px solid #fdbb39;
    }

    .table-advance td.highlight div.danger {
        border-left: 2px solid #e23e29;
    }


</style>
<script src="plugins/iCheck/icheck.min.js"></script>
<script>
    $('input[type="checkbox"].flat-red').iCheck({
        checkboxClass: 'icheckbox_flat-green',
        radioClass: 'iradio_flat-green'
    });
    function digitfOnly(e){

    }
    function isTrue(e){

    }
</script>